*{ /* resetear los margin y padding de todo el documento */
    margin: 0;
    padding: 0;
}

/* Estilos para logo de bsale */
.logo{
    width: 40%;
    overflow: hidden;
}

.logo img{
    width: 100px;
    border-radius: 10px;
}


/* FOOTER - Estilos aplicados a los elementos del footer personalizado */
footer{
    background: #292b2c;
    padding-bottom: 0.1px;
}

.footer-content{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 20px;
}

.brand+p{
    font-weight: 500;
    font-size: 15px;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: #292b2c;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/* Media Queries - cambio en los estilos para diferentes tipos de pantallas */

@media screen and (max-width:800px) {/* media query para pantallas hasta 800px */

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;

    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500px) { /*media query para pantallas hasta 500px */

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}